header{
	padding: 0.5rem;
	border-bottom: 1px solid var(--gray);
	min-width: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0rem;
	background-color: white;
	
	.header-nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 95%;
	}

	.cart-link{
		position: relative;
		
		
		.cart-count{
			position: absolute;
			background-color: rgb(85, 19, 19);
			color: white;
			padding: 0.5rem;
			border-radius: 100%;
			height: 1.7rem;
			width: 1.7rem;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			top: -0.4rem;
			right: -0.4rem;
		}

	}

}

