header{
	padding: 0.5rem;
	border-bottom: 1px solid var(--gray);
	min-width: 100%;
	display: flex;
	justify-content: center;
	
	.header-nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 95%;
	}
}

/* @media( min-width: 650px){
	header{
		.header-nav{
			width: 85%;
		}

	}
} */