*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: "Inter", sans-serif;
}

:root{
	--gray: #8B8B8B;
	--dark-gray: #424242;
	--dark-brown: #160404;
}

body{
	background-color: #ffffff;
	margin: auto;
	width: 100%;
}
